# 该目录下包含Laravel源代码和第三方依赖包
/vendor/*
# 本地环境配置
.env
# 若有前端框架目录
/node_modules
# 若有开发中上传的文件不做版本
/public/upload
# 项目框架缓存
/storage/framework/cache/*
storage/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/debugbar/*
# 日志
/storage/logs/*
# IDE 文件
.idea
.settings/
*.iml
*.ipr
*.iws
*.zip
*.tar.gz
*.sql
# Mac 系统生成的隐藏文件
.DS_Store
